.FPbutton{
    background-color: rgb(222, 145, 41);
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 10px 15px;
    margin: 15px 15px 50px;
    font-size: 16px;
    color: #e3dcd2;
    font-weight: thin;
    font-family:'Josefin Sans', sans-serif;
  }
  
  .FPbutton:hover{
  box-shadow: 0 0 10px 0 rgb(246, 209, 76);
  } 