body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #D8DEE9;
  }

  .container {
    position: relative;
    top: 100px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 130px;
  }

  main {
    max-width: 625px;
    padding: 60px;
    border-radius: 5px;
    margin-left: 8px;
    text-align: left;
    border: 3px solid #e4e0d7;
    border-radius: 10px; 
    box-shadow: 1px -2px 30px 10px rgb(22, 22, 67) inset;
  }

  .code {
    position: relative;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 5px;
    background-color: rgb(184, 184, 184);
    max-width: 625px;
    min-width: 350px;
    color: black;
    overflow-x: scroll;
    overflow-y: visible;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  }


  nav {
    width: 280px;
    min-width: 200px;
    padding: 40px;
    margin-left: 8px;
    border-radius: 5px;
    align-self: flex-start;
    position: sticky;
    top: 50px;
    height: 1000px;
    overflow: auto;
    text-align: left;
    border: 3px solid #e4e0d7;
    border-radius: 10px; 
    box-shadow: 1px -2px 30px 10px rgb(22, 22, 67) inset;
  }

  nav > h1 {
    margin-top: -35px;
  }

  .toc-img {
    margin-top: -35px;
  }

  @media screen and (max-width: 900px) {
    nav {
      display: none;
     }
    main {
      max-width: 325px;
    }
  }

  @media screen and (min-width: 900px) {
    .code {
      width: 570px;
    }
  }

  a {
    color: #A6ACC9;
    text-decoration: none;
  }

  li.active > a {
    color: white;
  }

  li > a:hover {
    color: white;
  }

  h2, h3 {
      padding-top: 16px;
      margin-top: -16px;
  }

  .tech-stack li {
    display: flex;
  }

  .tech-stack-icons {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-top: 12px;
  }