body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #D8DEE9;
  }
  .container {
    position: relative;
    top: 100px;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
  }
  
  main {
    max-width: 800px;
    background-color: #161822;
    padding: 16px;
    border-radius: 5px;
    margin-left: 8px;
  }
  
  nav {
    padding-top: 150px;
    width: 220px;
    min-width: 220px;
    padding: 16px;
    margin-left: 8px;
    border-radius: 5px;
    align-self: flex-start;
    position: sticky;
    top: 50px;
    height: 1000px;
    overflow: auto;
    background-color: #1F2233;
  }
  
  @media screen and (max-width: 900px) {
    nav {
      display: none;
    }
  }
  
  a {
    color: #A6ACC9;
    text-decoration: none;
  }
  
  li.active > a {
    color: white;
  }
  
  li > a:hover {
    color: white;
  }
  
  /*  Gives a little bit of buffer when header is navigated to */
  h2, h3 {
        padding-top: 16px;
      margin-top: -16px;
  }