.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:-7px;
    margin-top: 75px;
    width: 110%;
    height: 75px;
    border: 1.2px solid #ec633677;
    box-shadow: 3px 1px 0 #ec6336b5;
    background-color: #020849;
  }

  .footer-logo-font{
    margin-top: 15px;
  }