.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:-7px;
    margin-top: 75px;
    margin-bottom: 0px;
    width: 103%;
    height: 55px;
  }

  .footer-logo-font{
    /* margin-top: 35px; */
    margin-left: 40px;
  }

  .logo-container {
    margin-right: 50px;
    width: 150px;
    display: flex;
    justify-content: space-around;
  }