.top-bar {
  position: fixed;
  top: 0;
  left: -5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  width: 110%;
  height: 75px;
  border: 1.2px solid #ec633677;
  box-shadow: 0 1px 3px #ec6336b5;
  background-color: #013c64;
  z-index:10;
  
}

.header-logo-font{
  position: flex;
  left: 0;
  margin-top: 15px;
  margin-left: 0px;
}

.header-logo {
  position: flex;
  left: 0;
  margin-top: 5px;
  margin-left: 50px;
}
  
  .login-button-container{
    display: flex;
    margin-top: 30px;
    font-family:'Josefin Sans', sans-serif;
    color: rgb(221, 214, 201)
    
  }